    @mixin displ($jcont:center, $aitems:center) {
        display: flex;
        justify-content: $jcont;
        align-items: $aitems;
    }
    
    @mixin font($fontf:Yeseva One, $fontst:normal, $fontw:normal, $fonts:23px, $lineh:138.6%, $texttrans:uppercase, $color:#ffffff, $textal:center) {
        font-family: $fontf;
        font-style: $fontst;
        font-weight: $fontw;
        font-size: $fonts;
        line-height: $lineh;
        text-align: $textal;
        /* or 31px */
        text-transform: $texttrans;
        color: $color;
    }
    
    @mixin futbokc($fontf:FuturaBookC, $lineh:24px, $fonts:18px, $color:#FFFFFF, $textal:left) {
        font-family: $fontf;
        font-size: $fonts;
        line-height: $lineh;
        /* or 24px */
        color: $color;
        text-align: $textal;
    }
    
    @mixin futdem($fontf:FuturaDemiC, $lineh:14px, $fonts:12px, $color:#FFFFFF, $textal:left, $texttrans:none) {
        font-size: $fonts;
        line-height: $lineh;
        font-family: $fontf;
        color: $color;
        text-align: $textal;
        text-transform: $texttrans;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    @import 'fonts';
    @import 'header';
    .main {
        margin: 0;
        @import 'firstcont';
        @import 'secondcont';
        @import 'thirdcont';
        @import 'fourthcont';
        @import 'fifthcont';
        @import 'sixthcont';
        @import 'seventhcont';
    }
    
    @import 'footer';