   @mixin displ($jcont:center, $aitems:center) {
       display: flex;
       justify-content: $jcont;
       align-items: $aitems;
   }
   
   @mixin font($fontf:Yeseva One, $fontst:normal, $fontw:normal, $fonts:23px, $lineh:138.6%, $texttrans:uppercase, $color:#ffffff, $textal:center) {
       font-family: $fontf;
       font-style: $fontst;
       font-weight: $fontw;
       font-size: $fonts;
       line-height: $lineh;
       text-align: $textal;
       /* or 31px */
       text-transform: $texttrans;
       color: $color;
   }
   
   @mixin futbokc($fontf:FuturaBookC, $lineh:135.84%, $fonts:18px, $color:#FFFFFF, $textal:left) {
       font-family: $fontf;
       font-size: $fonts;
       line-height: $lineh;
       /* or 24px */
       color: $color;
       text-align: $textal;
   }
   
   @mixin futdem($fontf:FuturaDemiC, $lineh:14px, $fonts:12px, $color:#FFFFFF, $textal:left, $texttrans:none) {
       font-size: $fonts;
       line-height: $lineh;
       font-family: $fontf;
       color: $color;
       text-align: $textal;
       text-transform: $texttrans;
   }
   
   @import 'fonts';
   a {
       text-decoration: none;
   }
   
   // @media only screen and (min-width: 375px) {
   @media (min-width: 375px) {
       .header {
           @include displ($jcont: space-around);
           width: 100%;
           height: 10vh;
           @include futdem();
           background-color: #252525;
           .logo {
               text-transform: uppercase;
               color: #E3B873;
           }
           .telefon {
               color: #FFFFFF;
           }
           .button_call {
               display: none;
           }
       }
       .main {
           margin: -16px 0 0 0;
           .first-container {
               position: relative;
               width: 100%;
               height: 80vh;
               background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg__first-cont.jpg) no-repeat;
               .text-block {
                   position: relative;
                   height: 50vh;
                   width: 80vw;
                   left: 4.8%;
                   right: 4.8%;
                   top: 15vh;
                   .h {
                       @include font($lineh: 132.83%, $textal: left);
                   }
                   .offer {
                       @include futbokc();
                   }
               }
               .button-block {
                   @include displ();
                   flex-direction: column;
                   .calc {
                       border: none;
                       width: 90%;
                       height: 10vh;
                       background: #E3B873;
                       @include futdem($lineh: 15px, $fonts: 13px, $textal: center);
                   }
                   .applic {
                       margin-top: 5vh;
                       width: 90%;
                       height: 10vh;
                       background: rgba(0, 0, 0, 0.0);
                       border: 1px solid #FFFFFF;
                       box-sizing: border-box;
                       @include futdem($lineh: 15px, $fonts: 13px, $textal: center);
                   }
               }
           }
           .second-container {
               background-color: #252525;
               position: relative;
               width: 100%;
               @include displ();
               flex-direction: column;
               .tit {
                   margin: 36px 0 0 0;
                   position: relative;
                   width: 45%;
                   @include font($fonts: 22px, $color: #E3B873);
                   letter-spacing: -0.07em;
               }
               .offer {
                   margin: 22px 0 0 0;
                   width: 83%;
                   @include futbokc($fonts: 14px, $lineh: 158.48%, $textal: center);
               }
               .slider {
                   margin: 36px 0 0 0;
                   width: 91%;
                   height: 40vh;
                   background: url(../img/image2.jpg) no-repeat;
               }
               .specification {
                   margin: 36px 0 0 0;
                   width: 90%;
                   height: 146px;
                   display: grid;
                   grid-template-rows: 1fr 1.5fr;
                   grid-template-columns: 1fr 1.5fr;
                   grid-column-gap: 10vw;
                   grid-row-gap: 27px;
                   .specific-tit {
                       margin: 0;
                       @include font($fonts: 14px, $color: #E3B873, $textal: left);
                   }
                   .specific-descr {
                       margin: 11px 0 0 0;
                       @include futbokc( $fonts: 14px, $lineh: 135.84%, $color: #ffffff);
                   }
                   .address,
                   .time {
                       width: 99px;
                   }
               }
           }
           .third-container {
               background-color: #252525;
               position: relative;
               @include displ();
               flex-direction: column;
               .tit__third-container {
                   @include font($fonts: 22px, $color: #ffffff);
               }
               .group-camera .line {
                   margin-bottom: 14px;
               }
               iframe {
                   height: 100%;
               }
               .rect613 {
                   margin: 28px 0 0 0;
               }
               .text__third-container {
                   width: 90%;
                   @include futbokc($fonts: 14px, $lineh: 169.8%, $textal: center);
               }
               .application-form {
                   margin: 32px 0 0 0;
                   width: 90%;
                   height: 311px;
                   .name-phone {
                       p {
                           margin: 0;
                           .inp-name,
                           .inp-phone {
                               margin: 0;
                               width: 100%;
                               border: none;
                               outline: none;
                               border-bottom: solid 1px #FFFFFF;
                               background-color: #252525;
                               @include futbokc($fonts: 18px, $lineh: 138.72%, $color: #FFFFFF);
                           }
                           .inp-name::-moz-placeholder,
                           .inp-phone::-moz-placeholder {
                               color: #FFFFFF;
                               /* Цвет подсказывающего текста */
                           }
                           .inp-name::-webkit-input-placeholder,
                           .inp-phone::-webkit-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-name:-ms-input-placeholder,
                           .inp-phone:-ms-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-name::-ms-input-placeholder,
                           .inp-phone::-ms-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-name::placeholder,
                           .inp-phone::placeholder {
                               color: #FFFFFF;
                           }
                       }
                       .label-name,
                       .label-phone,
                       .check {
                           @include futbokc($fonts: 15px, $lineh: 20px, $color: rgba(255, 255, 255, 0.5));
                       }
                       .check {
                           color: #FFFFFF
                       }
                       .check:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/rect8.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       input:checked+label:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/group48.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       input:disabled+label:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/rect8.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       .p-label-phone {
                           margin: 63px 0 0 0;
                       }
                       .p-agree {
                           margin: 27px 0 0 0;
                       }
                       .submit {
                           margin: 63px 0 0 0;
                           width: 340px;
                           height: 51px;
                           left: 18px;
                           border: none;
                           background: #E3B873;
                           box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
                           @include futdem($lineh: 26px, $fonts: 15px, $textal: center, $texttrans: uppercase);
                       }
                   }
               }
           }
           .fourth-container {
               margin: 84px 0 0 0;
               background-color: #ffffff;
               position: relative;
               @include displ();
               flex-direction: column;
               .tit__fourth-container {
                   @include font($fonts: 22px, $color: #181818);
               }
               .group-repair .line {
                   margin-bottom: 14px;
               }
               .type-of-works {
                   width: 92%;
                   .list-of-works {
                       width: 78%;
                       height: 245px;
                       margin: 224px 70px 0 0;
                       background: #FFFFFF;
                       box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
                       .list-tit {
                           margin: 0;
                           padding: 21px 47px 0 31px;
                           @include font($fonts: 15px, $color: #363636, $texttrans: none, $textal: left);
                       }
                       ul {
                           margin: 0;
                           padding: 10px 41px 38px 45px;
                           .items {
                               @include futbokc($lineh: 169.8%, $fonts: 13px, $color: #959595);
                           }
                       }
                   }
               }
               .redecorating {
                   margin-top: 40px;
                   height: 100%;
                   background: url(../img/image.png) no-repeat;
               }
               .overhaul {
                   margin-top: 51px;
                   height: 100%;
                   background: url(../img/image3.png) no-repeat;
               }
               .designer-repair {
                   margin-top: 59px;
                   height: 100%;
                   background: url(../img/image31.png) no-repeat;
               }
               .cost {
                   text-align: center;
                   margin: -23px 45% 0 4%;
                   width: 51%;
                   height: 49px;
                   background: #E3B873;
                   box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
                   .cost-p {
                       @include font($fonts: 15px);
                   }
               }
               .tit-end__fourth-container {
                   margin: 55px 0 0 0;
                   width: 90%;
                   height: 66px;
                   @include font($fonts: 22px, $color: #E3B873);
               }
               .first-slid {
                   background: url(../img/image53.png) no-repeat;
               }
               .second-slid {
                   background: url(../img/image31.png) no-repeat;
               }
               .third-slid {
                   background: url(../img/image3.png) no-repeat;
               }
               .slider__fouth-container {
                   z-index: 100;
                   margin-top: 24px;
                   position: relative;
                   @include displ($jcont: space-between);
                   width: 90%;
                   height: 242px;
                   .buttom-left__butt,
                   .buttom-right__butt {
                       border: none;
                       outline: none;
                       background-color: #E3B873;
                       border-radius: 50%;
                       width: 36px;
                       height: 36px;
                       margin: 0 13px 0 14px;
                       transition: all .2s;
                       &:hover,
                       &:focus {
                           cursor: pointer;
                       }
                       &:active {
                           cursor: pointer;
                           background-color: rgb(252, 158, 8);
                           transform: scale(1.2, 1.2);
                       }
                   }
                   .buttom-right__butt img,
                   .buttom-left__butt img {
                       display: block;
                       margin: 0 auto;
                   }
               }
           }
           .fifth-container {
               margin: -121px 0 0 0;
               background-color: #252525;
               position: relative;
               @include displ();
               flex-direction: column;
               .tit__fifth-container {
                   margin-top: 173px;
                   @include font($fonts: 22px);
               }
               .group-project .line {
                   margin-bottom: 14px;
               }
               .p-project {
                   width: 90%;
                   height: 76px;
                   @include futbokc($fonts: 15px, $textal: center);
               }
               .type-of-works {
                   width: 92%;
                   .list-of-works {
                       width: 78%;
                       height: 245px;
                       margin: 224px 70px 0 0;
                       background: #FFFFFF;
                       box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
                       .list-tit {
                           margin: 0;
                           padding: 21px 47px 0 31px;
                           @include font($fonts: 15px, $color: #363636, $texttrans: none, $textal: left);
                       }
                       ul {
                           margin: 0;
                           padding: 10px 41px 38px 45px;
                           .items {
                               @include futbokc($lineh: 169.8%, $fonts: 13px, $color: #959595);
                           }
                       }
                   }
               }
               .redecorating {
                   margin-top: 40px;
                   height: 100%;
                   background: url(../img/image.png) no-repeat;
               }
               .overhaul {
                   margin-top: 51px;
                   height: 100%;
                   background: url(../img/image3.png) no-repeat;
               }
               .designer-repair {
                   margin-top: 59px;
                   height: 100%;
                   background: url(../img/image31.png) no-repeat;
               }
               .cost {
                   text-align: center;
                   margin: -23px 45% 0 4%;
                   width: 51%;
                   height: 49px;
                   background: #E3B873;
                   box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
                   .cost-p {
                       @include font($fonts: 15px);
                   }
               }
           }
           .sixth-container {
               margin: -1px 0 0 0;
               background-color: #252525;
               position: relative;
               @include displ();
               flex-direction: column;
               .tit__sixth-container {
                   margin: 77px 0 12.5px 0;
                   @include font($fonts: 22px);
               }
               .group-project .line {
                   margin-bottom: 14px;
               }
               .p-project {
                   width: 90%;
                   height: 42px;
                   margin: 23.5px 0 41px 0;
                   @include futbokc($fonts: 15px, $textal: center);
               }
               .employee {
                   position: relative;
                   width: 90%;
                   height: 449px;
                   .photo {
                       position: absolute;
                       top: 35px;
                       right: 0;
                   }
                   .avatar {
                       position: absolute;
                       top: -16px;
                       left: -19px;
                   }
                   .employee-portfolio {
                       position: absolute;
                       bottom: 0;
                       right: 10.66%;
                       width: 69.13%;
                       height: 137px;
                       background: #FFFFFF;
                       box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
                       .name {
                           margin: 22px 0 0 0;
                           @include font($fonts: 18px, $lineh: 25px, $color: #181818, $texttrans: none);
                       }
                       .profession {
                           margin: 9px 0 17px 0;
                           @include futbokc($fonts: 18px, $lineh: 26px, $textal: center, $color: #959595);
                       }
                       .experience {
                           padding: 4px 0 5px 0;
                           background-color: #E3B873;
                           @include font($fonts: 13px, $lineh: 29px);
                       }
                   }
               }
               .the-details {
                   margin-top: 54px;
                   .photo {
                       top: 57px;
                   }
               }
           }
           .seventh-container {
               background-color: #252525;
               position: relative;
               @include displ();
               flex-direction: column;
               width: 100%;
               // height: 973px;
               .tit__seventh-container {
                   margin: 76px 0 12.5px 0;
                   @include font($fonts: 22px);
               }
               .application-form {
                   margin: 32px 0 0 0;
                   width: 90%;
                   // height: 973px;
                   .name-phone {
                       p {
                           margin: 0;
                           .inp-question,
                           .inp-name,
                           .inp-phone {
                               margin: 0;
                               width: 100%;
                               border: none;
                               outline: none;
                               border-bottom: solid 1px #FFFFFF;
                               background-color: #252525;
                               @include futbokc($fonts: 18px, $lineh: 138.72%, $color: #FFFFFF);
                           }
                           .inp-question::-moz-placeholder,
                           .inp-name::-moz-placeholder,
                           .inp-phone::-moz-placeholder {
                               color: #FFFFFF;
                               /* Цвет подсказывающего текста */
                           }
                           .inp-question::-webkit-input-placeholder,
                           .inp-name::-webkit-input-placeholder,
                           .inp-phone::-webkit-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-question:-ms-input-placeholder,
                           .inp-name:-ms-input-placeholder,
                           .inp-phone:-ms-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-question::-ms-input-placeholder,
                           .inp-name::-ms-input-placeholder,
                           .inp-phone::-ms-input-placeholder {
                               color: #FFFFFF;
                           }
                           .inp-question::placeholder,
                           .inp-name::placeholder,
                           .inp-phone::placeholder {
                               color: #FFFFFF;
                           }
                       }
                       .label-name,
                       .label-phone,
                       .label-question,
                       .check {
                           @include futbokc($fonts: 15px, $lineh: 20px, $color: rgba(255, 255, 255, 0.5));
                       }
                       .check {
                           color: #FFFFFF
                       }
                       .check:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/rect8.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       input:checked+label:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/group48.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       input:disabled+label:before {
                           margin: 5px 10px 0 0;
                           content: url(../img/rect8.svg);
                           display: inline-block;
                           vertical-align: middle;
                       }
                       .p-label-question,
                       .p-label-phone {
                           margin: 63px 0 0 0;
                       }
                       .p-agree {
                           margin: 27px 0 0 0;
                       }
                       .submit {
                           margin: 63px 0 0 0;
                           width: 340px;
                           height: 51px;
                           left: 18px;
                           border: none;
                           background: #E3B873;
                           box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
                           @include futdem($lineh: 26px, $fonts: 15px, $textal: center, $texttrans: uppercase);
                       }
                   }
               }
               .map {
                   margin-top: 46px;
                   overflow: hidden;
                   width: 340px;
                   position: relative;
                   .map-small-group {
                       position: absolute;
                       width: 80%;
                       bottom: 10px;
                       left: 0;
                       right: 0;
                       margin-left: auto;
                       margin-right: auto;
                       color: #000;
                       text-align: center;
                       .map-small {
                           line-height: 1.8;
                           font-size: 2px;
                           background: #fff;
                       }
                   }
                   #gmap_canvas img {
                       max-width: none!important;
                       background: none!important;
                   }
               }
           }
       }
   }
   
   .footer {
       margin-top: -4px;
       background-color: #252525;
       position: relative;
       @include displ();
       flex-direction: column;
       width: 100%;
       height: 210px;
       .h-footer {
           margin: 42px 0 0 0;
           @include font($fonts: 18px, $color: #E3B873);
       }
       .feedback {
           margin: 24px 0 40px 0;
           position: relative;
           @include displ($jcont: space-between);
           width: 99px;
           height: 40px;
           img {
               width: 39px;
               height: 39px;
           }
       }
   }
   
   @media only screen and (max-width: 1440px) {}